@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins-Regular';
    background-color: #303030;
    color: #ffffff;
    font-size: 24px;
    margin: 0 !important;
}

.logo {
	justify-content: center;
}

.logo img {
	width: 55px;
	height: 55px;
}


li.logo {
	height: 100%;
	font-size: 28px;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    display: flex;
	align-items: center;
}

li.logo > a {
	transition: color 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

li.logo:hover
{
    transform: scale(0.95);
}

.nav ol {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin: 0 10px;
}

.nav
{
	display: flex;
    align-items: center;
	box-sizing: border-box;
	background-color: rgba(100, 100, 100, 0.25);
	width: 100vw;
	padding: 10px 0;
	padding-left: 40px;
}

.footer
{
    padding: 10px;
}

ol
{
	display: flex;
    font-size: 28px;
    height: 35px;
    line-height: 200%;
}

a
{
	text-decoration: none;
	color: #ffffff;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
}

li
{
	text-align: center;
}

li.menu
{
    margin-right: 40px;
    margin-left: 40px;
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: center;
	height: 40px;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

li.menu > a
{
    padding-left: 15px;
    padding-right: 15px;
	transition: color 0.2s ease-in-out;
}

li.menu:hover
{
    transform: scale(0.95);
}

li:hover > a
{
	color: #A0A0A0;
}

table {
    border-collapse: collapse;
    width: auto; 
    margin-bottom: 20px; 
}

.content {
	margin: 10px 0;
    overflow: auto;
    text-align: justify;
    padding-top: 30px;
    padding-left: 55px;
}

.content::after {
    content: "";
    display: table;
    clear: both;
}

a:hover
{
	color: #adadad;
}
